.searchContainer {
	display: flex;
	flex-direction: column;
	position: sticky;
	margin: 0 auto;
	top: 100px;
	// border: 1px solid black;
	align-items: center;
	justify-content: center;
	height: 70px;
	z-index: 10;
	width: 75%;
	max-width: 500px;
	background: #f9f9f9;
	border-radius: 4px;
	box-shadow: 8px 8px 10px rgba(0,0,0,0.4)

}

.search-form {
	width: 75%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
  border-radius: 4px;
	
	 input {
		width: 50%;
		height: 75%;
		border: none;
		border-bottom: 1px solid #000;
		padding: 3px 0 3px 10px;
		transition: all 300ms ease-out;
		font-size: 16px;
		outline: none;
		color: #333;
		background-color: transparent;

		&:focus {
			width: 90%;
			outline: none;
			
		}
	 }
}
