.topRatedWrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	width: 42%;
	background: black;
	padding: 3px;
	border-radius: 5px;

}

.topRated {
		width: 80px;
	&--img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}