.margin-bottom{
	margin-bottom: 5px!important;
}
.topRated {
	margin: 0;
	background-color: #1E2429;
	padding: 50px 0;
	position: relative;

	&__textWrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		position: absolute;
		top: -20px;
	}

	&__textWrapper--text {
		color: #f9f9f9;
		font-size: 1.5rem;
	}

}
.slick-slide img {
	border-radius: 5px;
}