.movieCard__wrapper {
	display: flex;
	flex-direction: column;
}

.movieCard__image--div {
	width: 100vw;
}

.movieCard__image--img {
	width: 100%;
}

.movieCard__image--span {
	display: block;
	text-align: center;
}
.movieCard__details--wrapper{
	text-align: center;
}