.searchDetails {
	border-radius: 4px;
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, auto));
	grid-auto-rows: minmax(180px, auto);
	grid-auto-flow: dense;
  width: 80%;
	margin: 100px auto;
	padding: 1rem;
	grid-gap: 5px;
	position: relative;
	background: #f9f9f9;
}

.searchDetails__container {
		height: 100%;
		width: 100%;
		position: relative;
		transition: all 300ms ease-in-out;
		.searchDetails--img {
			width: 100%;
			height: 100%;
			border-radius: 4px;
	}
	.searchDetails {
		border-radius: 4px;
		background: rgba(0,0,0,0.6);
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
		align-items: center;
		display: none;
		transition: all 300ms ease-in-out 100ms;
	
		
		 &--movieTitle {
			 color: white;
			 text-align: center;
		 }
		 &--releaseDate{
			 color: white;
			 text-align: center;
		 }

	}
	&:hover > .searchDetails {
		display: flex;
		
	}
	&:hover {
		transform: scale(.9)
	}
	
	

}