.returnedSearchResults {
	background: #121718;
	position: absolute;
	top: 200px;
	right: 0;
	left: 0;
	& h2 {
		font-size: 1.8rem;
		color:  #f9f9f9;
		margin-left: 25px;
		z-index: 5;
		padding: 10px 0 0 5px;
	}
}

.closeBtnIcon {
	position:absolute;
	right: 15px;
	top: 15px;
	height: 20px;
	cursor: pointer;
}

.searchDetails {
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, auto));
	grid-auto-rows: minmax(150px, auto);
	grid-auto-flow: dense;
	width: 100%;
	margin: 0px auto;
	padding: 1rem;
	grid-gap: 5px;
	position: relative;
	background: #121718;

	 &--wrapper {
		 margin: 5px;
	 }
}

.searchDetails__container {
		height: 100%;
		width: 100%;
		position: relative;
		transition: all 300ms ease-in-out;
		.searchDetails--img {
			width: 100%;
			height: 100%;
			border-radius: 4px;
	}
	.searchDetails {
		border-radius: 4px;
		background: rgba(0,0,0,0.6);
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
		align-items: center;
		display: none;
		transition: all 300ms ease-in-out 100ms;
	
		
		 &--movieTitle {
			 color: white;
			 text-align: center;
			 font-weight: bold;
		 }
		 &--releaseDate{
			 color: white;
			 text-align: center;
			 font-weight: bold;
		 }

	}
	&:hover > .searchDetails {
		display: flex;
		
	}
	&:hover {
		transform: scale(.9)
	}
}