.features {
	min-width: 100vw;
	height: 50vh;
	display: flex;
	flex-direction: row;
	background: #1E2429;

	@media only screen and (max-width: 799px){
		flex-direction: column;
		height: auto;
		padding: 0 0 2rem 0;
	}
}
.features__wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 50px repeat(3, 1fr);
	grid-auto-flow: dense;
	grid-auto-rows: 200px;
	@media only screen and (max-width: 799px){
		grid-template-rows: 50px repeat(2, 1fr);
	}
}
.features--container {
	&:nth-child(2){
		grid-column: 1;
		grid-row: 2;	
	}
	&:nth-child(3){
		grid-column: 2;
		grid-row: 2;	
	}

	&:nth-child(4){
		grid-column: 1;
		grid-row: 2;	
	}
	&:nth-child(5){
		grid-column: 1;
		grid-row: 3;	
	}
	&:nth-child(6){
		grid-column: 2;
		grid-row: 3;	
	}
	&:nth-child(7){
		grid-column: 3 / span 2;
		grid-row: 2 /span 2;	
	}
}
	.features--text {
		grid-row: 1;
		grid-column: 1 / -1;
		justify-self: center;
		color: #f9f9f9;
		margin-top: -19px;
		z-index: 5;
		font-size: 1.5rem;
	}

.text-right {
	@media only screen and (max-width: 799px){	
		margin-top: 5px;		
}

}
.features--img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}