.siteInfo__container {
	width: 100vw;
	height: 25vh;
	background: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin: 100px 0;

	@media only screen and (max-width: 899px){
		flex-direction: column;
		margin: 50px 0;
		height: auto;
	}
}
.siteInfo__container--side {
	width: 45%;
	@media only screen and (max-width: 899px){
		width: 100%;
		display: flex;
		justify-content: center;	
	}
	@media only screen and (min-width: 900px) and (max-width:1250px ){
		width: 49%;
	}

	 &.leftSide{
		display: flex;
    justify-content: center;
	 }

	 &.rightSide {
		text-align: center;
		 @media only screen and (max-width: 899px){
			height: 8vh;
			align-items: center;
			flex-direction: column;	
		 }
	 }

	 &.siteInfo--text {
			color: #C2C2C1;
		}
	 }

	.subText {
		font-size: 2.8rem;
		color: #333;
		@media only screen and (max-width: 1400px){
			font-size: 1.8rem;
		}
	}
.siteInfo__container--img{
	max-width: 450px;
	border-radius: 4px;
	height: auto;
	filter: grayscale(100%);
	float: right;
	@media only screen and (max-width: 899px){
		width: 80vw;
		float: unset;
	}
	@media only screen and (min-width: 900px) and (max-width:1250px ){
		width: 45vw;
		float: unset;
	}
}

.svg-inline--fa {
	height: 20px;
	@media only screen and (max-width: 899px){
		height: 15px;
	}
}
.callout--text {
	margin: 0 5px;	
}
.mainText {
	font-size: 4rem;
	font-weight: bold;
	color: #fff!important;
	@media only screen and (max-width: 1100px){
		font-size: 2.5rem;
	}
}