.searchContainer {
	display: flex;
	flex-direction: column;
	position: sticky;
	margin: 0 auto;
	top: 100px;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	height: 70px;
	z-index: 10;
	width: 75%;
	max-width: 500px;
	background: #f9f9f9;
    border-radius: 4px;

}

.search-form {
	width: 75%;
	height: 60%;;
	//border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	//background: #000;
    border-radius: 4px;
	
	 input {
		width: 50%;
		height: 75%;
		border: none;
		border-bottom: 1px solid #000;
		// border-radius: 5px;
		padding: 3px 0 3px 10px;
		transition: all 300ms ease-out;
		font-size: 16px;
		outline: none;
		color: #333;
		background-color: transparent;
		// background-color: #333533;
		// color: #fff;

		&:focus {
			width: 90%;
			outline: none;
			
		}
	 }
}

.searchResults {
	// border: 1px solid black; 
	border-radius: 4px;
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, auto));
	grid-auto-rows: minmax(180px, auto);
	grid-auto-flow: dense;
  width: 80%;
	margin: 100px auto;
	padding: 1rem;
  // margin-top: 200px;
	grid-gap: 5px;
	position: relative;
	background: #f9f9f9;
}

.searchDetails__container {
		height: 100%;
		width: 100%;
		position: relative;
		transition: all 300ms ease-in-out;
		.searchDetails--img {
			// border: 1px solid black;
			width: 100%;
			height: 100%;
			border-radius: 4px;
	}
	.searchDetails {
		// border: 1px solid black;
		border-radius: 4px;
		background: rgba(0,0,0,0.6);
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
		align-items: center;
		display: none;
		transition: all 300ms ease-in-out 100ms;
	
		
		 &--movieTitle {
			 color: white;
			 text-align: center;
		 }
		 &--releaseDate{
			 color: white;
			 text-align: center;
		 }

	}
	&:hover > .searchDetails {
		display: flex;
		
	}
	&:hover {
		transform: scale(.9)
	}
	
	

}

