*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	background: pink;
	/* background-color: #F9F9F9; */
	font-family: 'Cabin Condensed', sans-serif;
	/* background: rgb(18,23,24);
	background: linear-gradient(to bottom, rgba(18,23,24,1) 100%, rgba(20,20,23,0.8) 50%); */
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.outerWrapper {
	/* background: #1f1f1f; */
	margin: 5px;
	margin-top: 60px;
	border-radius: 5px;
	min-height: calc(100vh - 5px);
	/* //height: 2000px; */
	margin-bottom: 50px;
	z-index: 10;
}