*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	/* //background-color: #313638; */
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}