*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	background: #1E2429;
	font-family: 'Cabin Condensed', sans-serif;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.outerWrapper {
	margin: 5px;
	margin-top: 60px;
	border-radius: 5px;
	min-height: calc(100vh - 5px);
	margin-bottom: 50px;
	z-index: 10;
}