.movieListContainer {
	background: rgb(18,23,24);
	background: linear-gradient(to bottom, rgba(18,23,24,1) 100%, rgba(20,20,23,0.8) 50%);	
	width: 100vw;
	z-index: 20;	
}
.movieList--wrapper {
	margin: 5vh auto;
	max-width: 1500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.topHero {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	width: 100vw;
	height: 50vh;
	filter: grayscale(100%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	 & h2 {
		 color: white;
		 font-size: 4rem;
		 text-shadow: 3px 3px 5px rgba(0,0,0,0.4);	 
		}
		& p {
			color: white;
			font-size: 1.8rem;
			text-shadow: 3px 3px 5px rgba(0,0,0,0.4);
		}
}
.movieList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	width: 45%;
	max-width: 300px;
	margin: 10px;
	border-radius: 5px;
}
.movieList .image__container {
	width: 100%;	
}
.image__container--image {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.movieList__paragraph--p{
	padding: 5px 10px;
}
.movieList__paragraph--p {
	display: flex;
	align-items: center;
	justify-content: space-between;	
}